/*
Author:      Aleksandar Janković, office@ajankovic.com
Description: Stylesheet file created for styling of Google Chrome plugin Chrasks
*/

body {
  overflow-x:hidden;
  font-family:Tahoma, Helvetica, Arial, sans-serif;
  font-size:12px;
}
#task-form{
  margin-bottom:10px;
}
#task-list{
	margin:0;
  padding:0;
	list-style: none;
  border-bottom: 1px solid #CCBB11;
}
#task-list li{
	cursor:pointer;
	padding:5px;
	border-top: 1px solid #CCBB11;
}
